body {
    background-color: yellowgreen;
}
.box {
    height: 50vh;
    width: 100%;
    align-self: center;
    text-align: center;
    line-height: 50vh;
    margin: 5% 0;

    
}
.button {
    display: flex;
    justify-content: space-around;
}
button {
    padding: 10px;
    width: 20%;
    letter-spacing: 1px;
    background-color: tomato;
    cursor: pointer;
}